<div class="container">
  <footer class="footer">
    <small>
      copyright &copy; Paweł Tatarynowicz
    </small>
    <nav>
      <ul>
        <li>
          <%=link_to "Home", root_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>